// Buttons
.button {
  background: none;
  // border-radius: 5px;
  border: 2px solid $highlighted;
  color: $highlighted;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  &:hover {
    cursor: pointer;
    color: $black;
    background-color: $highlighted;
  }
}
.button-text {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background-color: transparent;
  border: none;
  color: $highlighted;
  &:hover {
    cursor: pointer;
  }
}

// Containers
.container {
  width: 100%;
  color: $font-color-secondary;
  font-weight: 600;
  padding: 0.4rem 0;
  &--top {
    margin-top: 80px;
  }
  &--bottom {
    margin-bottom: 120px;
  }
}

// Aligns

.vertical-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.horizontal-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-weight: 600;
  color: $highlighted;
}

// Media query responsive
@media screen and (max-width: 600px) {
  .container--bottom {
    margin-bottom: 120px;
  }
}
// inputs & forms
.input-field {
  border-bottom: 1px solid $highlighted;
  padding: 10px 0;
  min-width: 250px;
}

.form-input {
  outline: none;
  font-weight: 600;
  min-width: 250px;
  color: $font-color-secondary;
  background: none;

  border: none;
}
