// Fonts
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
$font-titles: 'Anton', sans-serif;
// Colors

$background-color: #272d38;
$font-color: #eeeeee;
$font-color-dark: #eeeeee;
$blue: #4adbf9;
$black: #08090b;

/* // colores 2
$background-color: #ffffff;
$font-color: #eeeeee;
$font-color-dark: #272d38;
$blue: #10c882;
$black: #0d423e; */
