@import '../../styles/style.scss';
.profile {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &__header {
    padding: 2rem 0;
  }
  &__image__container {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    padding: 2px;
    background-color: $blue;
  }
  &__image {
    border-radius: 50%;
    max-width: 100%;
  }
  &__button {
    margin-top: 1rem;
  }
}
.quote {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  &__icon {
    color: $blue;
    font-size: 2rem;
    margin-right: 10px;
  }
}

// Media query responsive
@media screen and (max-width: 600px) {
  .quote {
    width: 90%;
  }
}
@media (min-width: 601px) and (max-width: 1199px) {
  .quote {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .quote {
    width: 40%;
  }
}
