@import '../../styles/style.scss';
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    min-height: 500px;
  }
}
.login-form {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &__title {
    color: $font-color-secondary;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: content-box;
    padding: 1rem;
    margin-bottom: 1px;
  }
}

.form-button {
  margin-top: 20px;
  min-width: 250px;
}
